0.bin
sl_coff.bin
sl_coff.raw
sl_coff.coff
sl_coff.iso
sl_coff.cue
sl_coff.map
game.bin
game.raw
game.coff
game.elf
game.iso
game.cue
game.map
/jo_engine/*.o
/Projects/*/*.o
/Samples/*/*.o
*.layout
bios.bin
logs.txt
JoMapEditor/JoMapEditor.ini
Doxygen/output
Emulators/mednafen/*
Emulators/SSF/Setting/*

/Emulators/SSF/SSF.ini
/Emulators/nova/nova.ini
/Projects/*/
/Projects/*.zip
/Projects/*.7z
/Emulators/SSF/Backup/InternalBackup/*.bin
/Emulators/YabaSanshiro/debug.txt
